<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>글 작성하기</title>
    <style>
        /* 스타일은 detailPost.ejs와 동일하게 사용 */
    </style>
</head>
<body>
<!-- 작성 폼 -->
<form action="/create" method="post">
    <label for="title">제목:</label><br>
    <input type="text" id="title" name="title"><br>
    <label for="content">내용:</label><br>
    <textarea id="content" name="content" rows="4" cols="50"></textarea><br>
    <input type="submit" value="작성하기">
</form>

<!-- 이전 페이지로 돌아가기 버튼 -->
<div class="center">
    <a href="/boardMain?id=<%= userId %>&username=<%= username %>&name=<%= userRealName %>" class="button">이전 페이지로 돌아가기</a>
</div>

</body>
</html>
